:root {
	--max-width: 1024px;
	--border-radius: 12px;
	--font-mono: 'Inter';
	--color-white: #fff;
	--color-yellow: #f5c518;
	--color-grey: #989797;
	--color-light-grey: #cccccc;
	--color-black: #000;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-mono);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

input[type='checkbox'] {
	cursor: pointer;
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	transition: 120ms transform ease-in-out;
	accent-color: var(--color-yellow);
}
